.laman-link {
    padding: 5px;
    color: white;
    text-align: center;
    a {
        font-size: 1rem;
        padding: 5px;
        // border-right: 1px solid #e6e2e2;
        color: white;
        text-decoration: none;
    }
    a :hover {
        color: #b3b9bd;
        background: #ededee;
        animation-delay: 2s;
    }
}

.copiright {
    text-align: center;
    background-color: #1b3682;
    color: #b3b9bd;
    padding: 15px 0px;
    font-size: 12px;
}

.avai {
    text-align: center;
    color: #ffffff;
    font-size: 1.2rem;
    margin-top: 3%;
}

.logo-playstore {
    text-align: center;
    img {
        padding: 2%;
        width: 40%;
        cursor: pointer;
    }
}

.advertiser {
    img {
        width: 100%;
        height: 320px;
        padding: 2%;
        border-radius: 10px;
    }
}

img.socmed-icon {
    width: 80%;
    cursor: pointer;
}

.logo-footer {
    @media screen and (max-width: 540px) {
        text-align: center;
        justify-content: center;
    }
}

.ant-row {
    background: #fff;
    border-radius: 10px;
}

.adv {
    @media (min-width: 768px) {
        padding: 0;
    }
}