<nz-layout class="layout">
    <app-header *ngIf="showHeader"></app-header>
    <nz-content>
        <div class="container main-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="content-1">
                        <div class="section-heading">
                            <h5>Video</h5>
                        </div>
                        <div class="fb-item" *ngIf="videoData.length==0">
                            <div class="first-section-wrapper" *ngFor="let item of [1,2]">
                                <div class="gravatar">
                                    <ngx-skeleton-loader appearance="circle" [theme]="{ width: '80px', 'border-radius': '5px', height: '80px' }">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="gravatar-title">
                                    <div>
                                        <ngx-skeleton-loader [theme]="{ width: '170px', 'border-radius': '0', height: '15px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div>
                                        <ngx-skeleton-loader [theme]="{width: '200px','border-radius': '0',height: '15px','margin-bottom': '10px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngFor="let item of videoData" class="berita-optional">
                            <div class="video-thumb" (click)="detailVideo(item.id, item.title, item.base64Thumbnail)">
                                <img [src]="config.fileSaverImage+item.base64Thumbnail" [alt]="item.title">
                                <button class="btn-thumb"></button>
                            </div>
                            <div class="post-data" style="float:none" (click)="detailVideo(item.id, item.title, item.base64Thumbnail)">
                                <div class="post-meta center-text">
                                    <p>{{item.title}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="center-text" (click)="listVideo()">
                            <button nz-button (click)="listVideo()" nzType="primary" nzShape="round" style="margin-right:5px">Semua
                Video</button>
                        </div>
                    </div>
                    <div class="content-1">
                        <div class="section-heading">
                            <h5>Most Popular</h5>
                        </div>
                        <div class="fb-item" *ngIf="popularNewsData.length==0">
                            <div class="first-section-wrapper" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
                                <div class="gravatar">
                                    <ngx-skeleton-loader appearance="circle" [theme]="{ width: '80px', 'border-radius': '5px', height: '80px' }">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="gravatar-title">
                                    <div>
                                        <ngx-skeleton-loader [theme]="{ width: '170px', 'border-radius': '0', height: '15px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div>
                                        <ngx-skeleton-loader [theme]="{width: '200px','border-radius': '0',height: '15px','margin-bottom': '10px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngFor="let item of popularNewsData" class="d-flex berita-kecil-sider">
                            <div class="post-thumb-kecil">
                                <a href="#"><img [src]="config.fileSaverImage+item.base64Image" [alt]="item.title"></a>
                            </div>
                            <div class="post-data-kecil" (click)="detailBerita(item.id, item.title, item.base64Image)">
                                <div class="post-meta-kecil">
                                    <p>{{item.title}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="content-1" [ngStyle]="{'background-color' : mainNewsData.length == 0 ? '#fff' : '#1b3682'}">
                        <div class="section-heading">
                            <h5>News Feed</h5>
                        </div>
                        <div class="fb-item" *ngIf="mainNewsData.length==0">
                            <div class="first-section-wrapper" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
                                <div class="gravatar">
                                    <ngx-skeleton-loader appearance="circle" [theme]="{ width: '80px', 'border-radius': '5px', height: '80px' }">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="gravatar-title">
                                    <div>
                                        <ngx-skeleton-loader [theme]="{ width: '170px', 'border-radius': '0', height: '15px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div>
                                        <ngx-skeleton-loader [theme]="{width: '200px','border-radius': '0',height: '15px','margin-bottom': '10px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngFor="let item of mainNewsData | paginate: {id: 'main', itemsPerPage: 10 , currentPage: pageMain, totalItems: dataValue }" class="d-flex berita-utama">
                            <div class="post-thumb">
                                <a href="#"><img [src]="config.fileSaverImage+item.base64Image" [alt]="item.title"></a>
                            </div>
                            <div class="post-data" (click)="detailBerita(item.id, item.title, item.base64Image)">
                                <div (click)="newsCategori(item.category.categoryName)" class="post-catagory">
                                    {{item.category.categoryName}}</div>
                                <div class="post-meta">
                                    <h2>{{item.title}}</h2>
                                    <p class="post-date">{{item.createdBy}} | {{item.releaseDate | date:'EEEE, MMMM d y h:mm:ss'}} WIB
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <pagination-controls id='main' (pageChange)="pageChangeMain($event)"></pagination-controls>
                </div>
                <div class="col-md-4">
                    <div class="content-1">
                        <div class="section-heading">
                            <h5>Latest News</h5>
                        </div>
                        <!-- <ng-adsense></ng-adsense> -->
                        <div class="fb-item" *ngIf="latestNewsData.length==0">
                            <div class="first-section-wrapper" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
                                <div class="gravatar">
                                    <ngx-skeleton-loader appearance="circle" [theme]="{ width: '80px', 'border-radius': '5px', height: '80px' }">
                                    </ngx-skeleton-loader>
                                </div>
                                <div class="gravatar-title">
                                    <div>
                                        <ngx-skeleton-loader [theme]="{ width: '170px', 'border-radius': '0', height: '15px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div>
                                        <ngx-skeleton-loader [theme]="{width: '200px','border-radius': '0',height: '15px','margin-bottom': '10px'}">
                                        </ngx-skeleton-loader>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngFor="let item of latestNewsData | paginate: {id: 'latest', itemsPerPage: 10 , currentPage: pageLatest, totalItems: dataValueLatest }" class="d-flex berita-kecil-sider">
                            <div class="post-thumb-kecil">
                                <a href="#"><img [src]="config.fileSaverImage+item.base64Image" [alt]="item.title"></a>
                            </div>
                            <div class="post-data-kecil" (click)="detailBerita(item.id, item.title, item.base64Image)">
                                <div class="post-meta-kecil">
                                    <p>{{item.title}}</p>
                                </div>
                            </div>
                        </div>
                        <pagination-controls id='latest' (pageChange)="pageChangeLatest($event)" maxSize="5"></pagination-controls>
                    </div>
                    <!-- <ng-adsense></ng-adsense> -->
                </div>
            </div>
        </div>
        <div class="live-streaming" *ngIf="showLive">
            <div class="video-wrap">
                <button class="close-iframe" (click)="closeIframe()">X</button>
                <div class="video">
                    <iframe src="https://www.youtube.com/embed/live_stream?channel=UCbj-iBl4rLKzrYcuXhbJQfQ" width="350px" height="200px" frameborder="0" gesture="media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <nz-back-top [nzVisibilityHeight]="500">
        </nz-back-top>
        <app-footer></app-footer>
    </nz-content>
</nz-layout>