.berita-utama {
    padding: 12px 10px;
    margin: 0;
    border-bottom: solid 1px #13265b;
    // border-top: solid 1px #2346a8;
}

.berita-optional {
    padding: 12px 10px;
    margin: 0;
    // border-top: solid 1px #e0e0e0;
}

.post-catagory {
    color: #007bff;
}

.button-lihat {
    p {
        font-size: 20px;
        font-weight: bold;
        line-height: 130%;
        color: #fed019;
    }
    p:hover {
        color: #fff;
        transition: 1s;
    }
}

.col-md-3 .col-md-5 .col-md-4 {
    @media screen and (min-width: 540px) {
        padding: unset;
    }
}

.col-md-3 {
    @media (min-width: 768px) {
        padding-left: 0;
    }
}

.col-md-3 {
    @media (min-width: 768px) {
        padding-left: 0;
    }
}

.col-md-4 {
    @media (min-width: 768px) {
        padding-right: 0;
    }
}

.col-md-5 {
    @media (min-width: 768px) {
        padding: 0;
    }
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.video-wrap {
    text-align: center;
}

.live-streaming {
    @media screen and (min-width: 768px) {
        display: block;
    }
}

.video {
    position: fixed;
    bottom: 20px;
    right: 20px;
    transform: translateY(100%);
    animation: fade-in-up .25s ease forwards;
    z-index: 20;
}

.close-iframe {
    position: fixed;
    right: 20px;
    bottom: 230px;
    border-radius: 50%;
    padding-top: 4px;
    width: 32px;
}